body {
  background-color: #FFFFFF;
  margin: 5px;
  padding: 5px;
  line-height: 0em;
}

form {
  background: #CECECE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  color: #333;
  font-family: 'calibri;
  font-size: 17px;
  font-weight: Bold;
}
h2 {
  color: #000000;
  font-family: 'calibri;
  font-size: 14px;
  font-weight: bold;
}
h3 {
  color: #333333;
  font-family: 'cambria';
  font-size: 12px;
}

h4 {
  background-color: #FFFFCC;
  color: #FF9999;
  font-family: 'cambria';
  font-size: 12px;
  font-weight: bold;
  margin: 12px 12px 12px 12px;
  padding: 12px 0px 12px 12px;
  border-width: medium;
}

input {
  display: block;
  border: 1px solid #cccccc;
}

:required {
  background-color: #FFFFCC;
}
textarea:focus { 
background : #FFFDEA;

.btns {
  width: 100px;
}
